*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root{
  height: 100vh;
}

.layout{
  display: grid;
  grid-template-areas:
   "header"
   "main"
   "footer"
   ;
   height: 100%;
   grid-template-rows: 40px 1fr 40px;
}


main{
  grid-area: "main";
}
